---
import OpennessIcon from "@/assets/values/openness.png";
import VisibilityIcon from "@/assets/values/visibility.png";
import SupportIcon from "@/assets/values/support.png";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

type VV = {
  icon: ImageMetadata;
  name: string;
  description: string;
};
const values: VV[] = [
  {
    icon: OpennessIcon,
    name: "Openness",
    description:
      "Fostering open collaboration, knowledge sharing, and transparent communication across the global AI community.",
  },
  {
    icon: SupportIcon,
    name: "Support",
    description:
      "Creating a culture of mentorship, guidance, and mutual assistance for researchers at every career stage.",
  },
  {
    icon: VisibilityIcon,
    name: "Visibility",
    description:
      "Amplifying Moroccan AI talent and contributions on the global stage through strategic showcasing and networking.",
  },
];

const animationDelays = [
  "group-data-[visible-in-the-view=true]:motion-delay-[100ms]",
  "group-data-[visible-in-the-view=true]:motion-delay-[200ms]",
  "group-data-[visible-in-the-view=true]:motion-delay-[300ms]",
  "group-data-[visible-in-the-view=true]:motion-delay-[400ms]",
  "group-data-[visible-in-the-view=true]:motion-delay-[500ms]",
  "group-data-[visible-in-the-view=true]:motion-delay-[600ms]",
];
---

<section id="mission" class="group bg-[#F2F4F7] py-16 font-light">
  <div class="main mx-auto px-4">
    <div data-visible-in-the-view="false" class="group">
      <h2
        class="mb-8 text-center text-4xl font-bold group-data-[visible-in-the-view=true]:motion-preset-slide-down group-data-[visible-in-the-view=true]:motion-delay-200 md:text-left"
      >
        Our mission
      </h2>
      <p
        class="mb-12 max-w-[1000px] text-center text-paragraph-lg font-thin text-neutral-dark-50 group-data-[visible-in-the-view=true]:motion-preset-slide-down group-data-[visible-in-the-view=true]:motion-delay-300 md:text-left"
      >
        Connect and support Moroccan researchers in Artificial Intelligence
        worldwide. Foster collaboration and mentorship within the AI research
        community. Showcase Moroccan AI talent in leading global AI conferences
        and venues. Provide essential resources, guidance, and visibility for
        young and emerging researchers. Shape and amplify the global narrative
        around Morocco’s contributions to AI.
      </p>

      <div data-visible-in-the-view="false" class="group">
        <h2
          class="my-8 text-center text-4xl font-bold group-data-[visible-in-the-view=true]:motion-preset-slide-down md:text-left"
        >
          Our values
        </h2>
        <div class="my-4 grid grid-cols-2 gap-0 md:grid-cols-3">
          {
            values.map((value, index) => (
              <div
                class={`relative flex flex-col items-center group-data-[visible-in-the-view=true]:motion-preset-slide-right ${animationDelays[index]}`}
              >
                <div class="flex flex-col items-center py-6">
                  <div class="h-24">
                    <Image
                      src={value.icon}
                      class="h-full w-24"
                      alt={value.name}
                    />
                  </div>
                  <span class="pt-4 text-paragraph-sm font-light text-neutral-dark-20 md:text-2xl">
                    {value.name}
                  </span>
                  <p class="mt-2 max-w-[250px] text-center text-sm leading-relaxed text-neutral-dark-50">
                    {value.description}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
